@import 'variables';

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

body {
	font-family: $font-stack;
}

a {
    text-decoration: none;
}

.header {
	@media (min-width: $laptop) {
        padding: 1em;
		display: flex;
        justify-content: space-between;
	}
}

.header-m {
	padding: 0 1em;
	max-height: 20vh;
	gap: 2em;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: $primary-color;
	box-shadow: 0px 0px 10px $primary-color;

	@media (min-width: $laptop) {
		background-color: $light-color;
		box-shadow: none;
        padding: 0;
	}

	.logo {
		height: 10vh;
		width: 30vh;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url('../public/images/logo/farmacia-patuleia-high-resolution-logo-white-on-transparent-background.png');

		@media (min-width: $laptop) {
            width: 20vh;
			background-image: url('../public/images/logo/farmacia-patuleia-high-resolution-logo-color-on-transparent-background.png');
		}
	}

	.hamburguer {
		color: $light-color;
		cursor: pointer;

		@media (min-width: $laptop) {
			display: none;
		}
	}
}

.nav {
	display: flex;
	flex-direction: column;
    background-color: $secondary-color;
    @media (min-width: $laptop) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        background-color: transparent;
        padding: 2em;
    }

    a{
        padding: .5em;
        color: $light-color;

        &:hover {
            background-color: $primary-color-transparent;
        }

        @media (min-width: $laptop) {
            color: $dark-color;
            &:hover {
                background-color: transparent;
            }
        }
    }
}

.outlet {
	padding: 1em;
}

.hide-m {
	display: none;
	@media (min-width: $laptop) {
		display: flex;
	}
}
