@import 'bootstrap/dist/css/bootstrap.css';
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

body {
  font-family: "Asap", sans-serif;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: snow;
  cursor: default;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(34, 139, 34);
}

p {
  color: rgb(51, 51, 51);
  margin: 0.5em 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: rgb(138, 190, 83);
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .App {
    margin: 1em;
  }
}

.outlet {
  margin: 1em;
}
@media (min-width: 768px) {
  .outlet {
    margin: 1em 0;
  }
}

.box {
  width: 100%;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  font-size: 0.95em;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animated-background {
  overflow: hidden;
  background: linear-gradient(45deg, rgb(34, 139, 34), rgb(138, 190, 83), rgb(154, 205, 50));
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  height: 100%;
}
.animated-background > * {
  color: rgb(255, 255, 255);
}
.animated-background a {
  color: rgb(255, 255, 255);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  text-align: center;
  grid-gap: 1em;
}

.light-background {
  background-color: rgb(255, 255, 255);
}

.padding {
  padding: 1em;
}
@media (min-width: 992px) {
  .padding {
    padding: 2em;
  }
}

.padding-2 {
  padding: 2em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-0 {
  margin: 0;
}

.mobile-title {
  margin-top: 0.2em;
}

.clickable {
  cursor: pointer;
}

.radius {
  border-radius: 4px;
}

.not-found > * {
  width: 200px;
}

.facebook {
  font-size: 2em;
  font-weight: 700;
  margin: 0 0.5em;
  color: #1877f2 !important;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.flex-laptop {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 992px) {
  .flex-laptop {
    flex-direction: row;
  }
  .flex-laptop > * {
    flex-basis: 50%;
  }
}

.static-map {
  height: 250px;
}
.static-map img {
  height: 100%;
}

@media (min-width: 992px) {
  .open-home-grid .static-map {
    height: 236px;
  }
}

@media (min-width: 992px) {
  .closed-home-grid .static-map {
    height: 300px;
  }
}

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  background-color: rgb(154, 205, 50);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.btn:hover {
  background-color: rgba(51, 51, 51, 0.8);
  color: rgb(255, 255, 255);
}

.call-btn,
.directions-btn,
.fb-btn {
  width: 100%;
}
.call-btn span,
.directions-btn span,
.fb-btn span {
  color: rgb(34, 139, 34);
  margin-right: 5px;
  font-size: 16px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 5;
}
@media (min-width: 768px) {
  .header {
    position: static;
    border-radius: 4px;
    padding: 1.5em 2em;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    font-size: 0.95em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .header {
    padding: 1.75em 2em;
  }
}
.header-mobile {
  padding: 0 1em;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 139, 34);
  box-shadow: 0px 0px 10px rgb(34, 139, 34);
}
@media (min-width: 768px) {
  .header-mobile {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}
.header-mobile .logo {
  width: 220px;
}
@media (min-width: 992px) {
  .header-mobile .logo {
    width: 300px;
  }
}
.header-mobile .hamburger {
  color: rgb(255, 255, 255);
}
@media (min-width: 768px) {
  .header-mobile .hamburger {
    display: none;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(138, 190, 83);
  padding: 5px;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: center;
    gap: 1em;
    background-color: transparent;
  }
}
@media (min-width: 992px) {
  .nav {
    gap: 3em;
  }
}
.nav a {
  color: rgb(255, 255, 255);
  padding: 0.3em 0.5em;
}
.nav a:hover, .nav a:active {
  background-color: rgb(154, 205, 50);
  border-radius: 4px;
}
@media (min-width: 768px) {
  .nav a {
    color: rgba(51, 51, 51, 0.8);
    padding: 0.4em 0.2em;
    border-bottom: 2px solid transparent;
    transform: translateY(2px);
  }
  .nav a:hover, .nav a.active {
    background-color: transparent;
    border-bottom: 2px solid rgb(154, 205, 50);
    border-radius: 0;
  }
}
@media (min-width: 992px) {
  .nav a {
    border-bottom: 3px solid transparent;
    transform: translateY(3px);
  }
  .nav a:hover {
    background-color: transparent;
    border-bottom: 3px solid rgb(154, 205, 50);
  }
  .nav a.active {
    border-bottom: 3px solid rgb(154, 205, 50);
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form h1 {
  margin: 0.5em auto;
}
.form label {
  margin-bottom: 10px;
}
.form textarea, .form input {
  font-family: "Asap", sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 6px 12px;
  width: 100%;
  border: unset;
  border-radius: 4px;
  outline-color: rgba(34, 139, 34, 0.8);
  background-color: rgb(255, 255, 255) 255, 255, 255;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.form input {
  margin-bottom: 20px;
}
.form input[type=submit] {
  align-self: center;
  margin: 1em 0.5em;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.footer {
  background-color: rgba(51, 51, 51, 0.8);
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  font-size: 0.95em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.75em;
  text-align: center;
}
.footer h1, .footer p {
  color: rgb(255, 255, 255);
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
  }
  .footer h1, .footer p {
    color: rgba(51, 51, 51, 0.8);
  }
  .footer a:hover,
  .footer a h1:hover {
    color: rgb(138, 190, 83);
  }
}

.footer-icon {
  color: rgb(34, 139, 34);
  font-size: 0.8em;
}

.contact-form h1 {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .contact-form h1 {
    font-size: 1.75em;
  }
  .contact-form .contact-form-img {
    margin: 1em 0;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .contact-form {
    display: flex;
    gap: 2em;
  }
  .contact-form > * {
    flex-basis: 50%;
  }
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 768px) {
  .contact-buttons {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .contact-buttons {
    flex-direction: column;
  }
}

.contacts-open-grid .contact-map {
  height: 250px;
}
.contacts-open-grid .contact-map > * {
  border-radius: 4px;
}
@media (min-width: 992px) {
  .contacts-open-grid .contact-map {
    height: 350px;
  }
}

.contacts-closed-grid .contact-map {
  height: 250px;
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 250px;
  font-size: 1.1em;
}
.banner h1 {
  margin: 0;
  flex-basis: 35%;
  color: rgb(154, 205, 50);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  text-align: end;
  padding: 0.5em;
  font-size: 2em;
}

.banner-home {
  height: 300px;
  background-image: url("images/pharmacy/inside-right.jpg");
  align-items: stretch;
  justify-content: flex-start;
}
.banner-home article {
  display: flex;
  align-items: center;
  flex-basis: 45%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em;
}

@media (min-width: 480px) {
  .sales-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .sales-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.sale-card {
  display: flex;
  flex-direction: column-reverse;
  max-width: 280px;
  font-size: 0.9em;
  gap: 1em;
}
.sale-card .card-img {
  margin: 0;
}
.sale-card img {
  cursor: zoom-in;
}
@media (min-width: 480px) {
  .sale-card {
    flex-direction: row;
    max-width: initial;
    text-align: left;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .sale-card {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.banner-sales {
  background-image: url("images/pharmacy/products.jpg");
}

.service-card {
  position: relative;
  height: 200px;
  font-size: 0.85em;
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .service-card {
    font-size: 0.9em;
    height: 250px;
  }
}
.service-card h1 {
  color: rgb(255, 255, 255);
  background-color: rgba(138, 190, 83, 0.85);
  padding: 0.5em;
  width: 90%;
  height: 60px;
  font-size: 1.1em;
  opacity: 1;
}
.service-card .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  color: rgb(255, 255, 255);
  padding: 1em;
  box-sizing: border-box;
}
.service-card:hover h1 {
  opacity: 0;
}
.service-card:hover .description {
  opacity: 1;
  background-color: rgba(51, 51, 51, 0.8);
}

.banner-services {
  background-image: url("images/pharmacy/office.jpg");
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.8);
  height: 100vh;
  width: 100%;
}

.modal-img {
  display: block;
  max-width: 80vh;
  padding: 5px;
  cursor: zoom-out;
}

.close-icon {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 10px;
  right: 10px;
}

.mapa h2 {
  color: rgb(138, 190, 83);
  font-size: 1.5em;
  margin: 0.5em;
}
.mapa p {
  text-align: justify;
}
@media (min-width: 768px) {
  .mapa .mapa-description .call-btn {
    width: initial;
  }
}
@media (min-width: 992px) {
  .mapa .mapa-description {
    display: flex;
    gap: 2em;
  }
  .mapa .mapa-description article {
    flex: 2;
  }
  .mapa .mapa-description .call-btn {
    width: 100%;
  }
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: transparent;
  --bs-accordion-active-bg: transparent;
  text-align: justify;
}
.accordion .accordion-button {
  padding: 0;
}

.banner-mapa {
  background-image: url("images/pharmacy/mapa-banner.jpeg");
}

.appointment p {
  text-align: center;
}

.carousel .carousel-caption {
  border-radius: 0t;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(51, 51, 51);
  padding: 1em;
  display: grid;
  place-items: center;
}
.carousel .carousel-caption h3 {
  font-size: 1.1em;
}
.carousel .carousel-caption .btn {
  font-size: 0.9em;
}
.carousel .call-btn {
  width: initial;
}

.carousel, .carousel-item, .carousel-item img {
  height: 250px;
}
@media (min-width: 768px) {
  .carousel, .carousel-item, .carousel-item img {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .show-mobile {
    display: none;
  }
}

.hide-mobile {
  display: none;
}
@media (min-width: 768px) {
  .hide-mobile {
    display: flex;
  }
}

.hide-laptop {
  display: flex;
}
@media (min-width: 992px) {
  .hide-laptop {
    display: none;
  }
}

.show-laptop {
  display: none;
}
@media (min-width: 992px) {
  .show-laptop {
    display: flex;
  }
}/*# sourceMappingURL=App.css.map */