* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

body {
  font-family: "Asap", sans-serif;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: snow;
  cursor: default;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Raleway", sans-serif;
}

.container {
  margin: 1em;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  font-size: 0.95em;
}
.container h1 {
  margin: 0.5em 0 1em 0;
  color: rgba(51, 51, 51, 0.8);
}

.grid {
  display: grid;
  justify-content: stretch;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 1em;
  justify-items: stretch;
  text-align: center;
  gap: 1em;
}
@media (min-width: 768px) {
  .grid {
    justify-content: space-evenly;
  }
}

.card {
  height: 200px;
}
@media (min-width: 768px) {
  .card {
    height: 250px;
  }
}

.light-background {
  background-color: rgb(255, 255, 255);
}

.container-header {
  position: sticky;
  top: 0;
}
@media (min-width: 768px) {
  .container-header {
    margin: 1em;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
    font-size: 0.95em;
  }
}
@media (min-width: 992px) {
  .container-header {
    position: static;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 1em;
    display: flex;
    justify-content: space-between;
  }
}
.header-mobile {
  padding: 0 1em;
  gap: 2em;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 139, 34);
  box-shadow: 0px 0px 10px rgb(34, 139, 34);
}
@media (min-width: 768px) {
  .header-mobile {
    padding: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
  }
}
.header-mobile .logo {
  height: 60px;
  width: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/logo/farmacia-patuleia-high-resolution-logo-white-on-transparent-background.png");
}
@media (min-width: 768px) {
  .header-mobile .logo {
    background-image: url("../images/logo/farmacia-patuleia-high-resolution-logo-color-on-transparent-background.png");
  }
}
@media (min-width: 992px) {
  .header-mobile .logo {
    margin-left: 2em;
  }
}
.header-mobile .hamburguer {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
@media (min-width: 768px) {
  .header-mobile .hamburguer {
    display: none;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(138, 190, 83);
  font-family: "Raleway", sans-serif;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    background-color: transparent;
    padding: 1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 0.9em;
  }
  .nav .active {
    color: rgb(34, 139, 34);
    text-shadow: 1px 1px 2px rgba(34, 139, 34, 0.8);
  }
}
@media (min-width: 992px) {
  .nav {
    padding: 2em;
    font-size: 1em;
  }
}
.nav a {
  padding: 0.5em;
  color: rgb(255, 255, 255);
}
.nav a:hover {
  background-color: rgba(34, 139, 34, 0.8);
}
@media (min-width: 768px) {
  .nav a {
    color: rgba(51, 51, 51, 0.8);
  }
  .nav a:hover {
    background-color: transparent;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form label {
  margin-bottom: 10px;
}
.form input,
.form textarea {
  font-family: "Asap", sans-serif;
  margin-bottom: 20px;
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 6px 12px;
  width: 100%;
  border: unset;
  border-radius: 4px;
  outline-color: rgba(34, 139, 34, 0.8);
  background-color: rgb(255, 255, 255) 255, 255, 255;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.form input[type=submit] {
  background-color: rgb(154, 205, 50);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(154, 205, 50) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.map {
  height: 250px;
}

.footer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 0.75em;
  text-align: center;
}
.footer h1 {
  color: rgba(51, 51, 51, 0.8);
  margin: 0 0 0.5em 0;
}
.footer a {
  color: rgb(34, 139, 34);
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.footer-icon {
  color: rgb(34, 139, 34);
  font-size: 0.8em;
}

.contacts h1 {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .contacts h1 {
    font-size: 1.75em;
  }
  .contacts .contacts-img {
    margin: 1em 0;
  }
  .contacts .contacts-img img {
    border-radius: 4px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .contacts {
    display: flex;
    align-items: stretch;
    gap: 2em;
  }
  .contacts > * {
    flex-basis: 50%;
  }
}

@media (min-width: 768px) {
  .adress .adress-img img {
    border-radius: 4px;
  }
}
@media (min-width: 992px) {
  .adress {
    display: flex;
    align-items: stretch;
    gap: 2em;
  }
  .adress > * {
    flex-basis: 50%;
  }
  .adress .map {
    height: 400px;
  }
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  min-height: 250px;
}
.banner article {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1em;
  border-radius: 4px;
  color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .banner article {
    flex-basis: 60%;
  }
}
@media (min-width: 992px) {
  .banner article {
    flex-basis: 35%;
    font-size: 1.2em;
  }
}

.banner-home {
  background-image: url("images/pharmacy/inside-right.jpg");
}

.banner-services {
  background-image: url("images/pharmacy/office.jpg");
}

.card-sales {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}
.card-sales img {
  object-fit: contain;
  height: 100%;
  width: auto;
  border-radius: 4px;
}

.card-service {
  position: relative;
  margin: 0;
  font-size: 0.85em;
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .card-service {
    font-size: 0.9em;
  }
}
.card-service h1 {
  color: rgb(255, 255, 255);
  background-color: rgba(138, 190, 83, 0.85);
  padding: 0.5em;
  width: 90%;
  height: 60px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
.card-service .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  color: rgb(255, 255, 255);
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-service:hover h1 {
  opacity: 0;
}
.card-service:hover .description {
  opacity: 1;
  background-color: rgba(51, 51, 51, 0.8);
}

.clickable {
  cursor: pointer;
}

.hide-mobile {
  display: none;
}
@media (min-width: 768px) {
  .hide-mobile {
    display: flex;
  }
}

.hide-tablet {
  display: none;
}
@media (min-width: 992px) {
  .hide-tablet {
    display: flex;
  }
}

.padding {
  padding: 1em;
}
@media (min-width: 992px) {
  .padding {
    padding: 2em;
  }
}/*# sourceMappingURL=App.css.map */