.adress {
	@media (min-width: $tablet) {
		.adress-img {
			img {
				border-radius: $radius;
			}
		}
	}

	@media (min-width: $laptop) {
		display: flex;
		align-items: stretch;
		gap: 2em;

		> * {
			flex-basis: 50%;
		}

		.map {
			height: 400px;
		}
	}
}
