.banner {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 250px;

	font-size: 1.1em;

	h1 {
		margin: 0;
		flex-basis: 35%;
		color: $accent-color;
		background-color: $light-color-transparent;
		border-radius: $radius;
		text-align: end;
		padding: 0.5em;
		font-size: 2em;
	}
}

.banner-home {
	height: 300px;
	background-image: url('images/pharmacy/inside-right.jpg');
	align-items: stretch;
	article {
		display: flex;
		align-items: center;
		flex-basis: 45%;
		margin: 0;
		text-indent: 1em;
		background-color: $light-color-transparent;
		padding: 1em;
		color: $dark-color;
	}
}


