.banner {
	background-color: $light-color;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 150px;

	h1 {
		margin: 0;
		flex-basis: 35%;
		color: $accent-color;
		background-color: $light-color-transparent;
		border-radius: $radius;
		text-align: end;
		padding: 0.5em;
		font-size: 2em;
	}
}

.banner-home {
	height: 300px;

	align-items: stretch;
	justify-content: flex-start;
	article {
		display: flex;
		align-items: center;
		flex-basis: 45%;
		background-color: $light-color-transparent;
		padding: 1em;
		font-size: 1.1em;
	}
}

.status {
	h1 {
		font-size: 2em;
	}
}
