.banner {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	min-height: 250px;

	article {
		background-color: $light-color-transparent;

		padding: 1em;
		border-radius: $radius;

		color: $dark-color;

		display: flex;
		align-items: center;

		@media (min-width: $tablet) {
			flex-basis: 60%;
		}

		@media (min-width: $laptop) {
			flex-basis: 35%;
			font-size: 1.2em;
		}
	}
}

.banner-home {
	background-image: url('images/pharmacy/inside-right.jpg');
}

.banner-services {
	background-image: url('images/pharmacy/office.jpg');
}
