.banner {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex;
	align-items: center;
	min-height: 250px;

	font-size: 1.1em;

	h1 {
		margin: 0;
		flex-basis: 35%;
		color: $accent-color;
		background-color: $light-color-transparent;
		border-radius: $radius;
		text-align: end;
		padding: 0.5em;
		font-size: 2em;
	}

	@media (min-width: $tablet) {
		flex-basis: 45%;
	}

	@media (min-width: $laptop) {
		flex-basis: 35%;
	}
}

.banner-home {
	background-image: url('images/pharmacy/inside-right.jpg');
	align-items: stretch;
	article {
		display: flex;
		align-items: center;
		flex-basis: 45%;
		text-indent: 1em;
		background-color: $light-color-transparent;
		padding: 1em;
		color: $dark-color;
	}
}

.banner-services {
	background-image: url('images/pharmacy/office.jpg');
	justify-content: flex-end;
}

.banner-sales {
	background-image: url('images/pharmacy/products.jpg');
	justify-content: flex-end;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.banner-open {
	overflow: hidden;
	background: linear-gradient(
		45deg,
		$primary-color,
		$secondary-color,
		$accent-color
	);
	background-size: 200% 200%;
	animation: gradientAnimation 10s ease infinite;


	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 1em;

	> * {
		color: $light-color;
	}

}
