.carousel {
	height: 250px;

	.carousel-item {
		height: 250px;

		img {
			height: 250px;
		}
	}
	.carousel-caption {
		border-radius: 0t;
		background-color: $light-color-transparent;
		color: $dark-color;
		padding: 1rem;
		display: grid;
		place-items: center;

		h3 {
			font-size: 1.1em;
		}

		.btn {
			font-size: 0.9em;
		}
	}

	.call {
		width: initial;
		margin-bottom: 0;
	}
}
