.carousel {
	.carousel-caption {
		border-radius: 0t;
		background-color: $light-color-transparent;
		color: $dark-color;
		padding: 1em;
		display: grid;
		place-items: center;

		h3 {
			font-size: 1.1em;
		}

		.btn {
			font-size: 0.9em;
		}
	}

	.call-btn {
		width: initial;
	}

}


.carousel, .carousel-item, .carousel-item img {
	height: 250px;
	@media (min-width: $tablet) {
		height: 300px;
	}
}
