.contact-form {
	h1 {
		font-size: 1.5em;
	}

	@media (min-width: $tablet) {
		h1 {
			font-size: 1.75em;
		}

		.contact-form-img {
			margin: 1em 0;
		}

		@media (min-width: $laptop) {
			display: flex;
			gap: 2em;

			> * {
				flex-basis: 50%;
			}
		}
	}
}

.contact-buttons {
	display: flex;
	flex-direction: column;
	gap: 1em;

	@media (min-width: $tablet) {
		flex-direction: row;
	}

	@media (min-width: $laptop) {
		flex-direction: column;
	}



}

.contacts-open-grid {
	.contact-map {
		height: 250px;
		> * {
			border-radius: $radius;
		}

		@media (min-width: $laptop) {
			height: 350px;
		}
	}
}

.contacts-closed-grid {
	.contact-map {
		height: 250px;
	}
}
