.contact-form {
	h1 {
		font-size: 1.5em;
	}

	@media (min-width: $tablet) {
		h1 {
			font-size: 1.75em;
		}

		.contact-form-img {
			margin: 1em 0;
		}

		@media (min-width: $laptop) {
			display: flex;
			align-items: stretch;
			gap: 2em;

			> * {
				flex-basis: 50%;
			}
		}
	}
}

.info {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1em;

	h1 {
		margin-bottom: 0.5em;
	}

	a {
		color: $primary-color;
	}

	@media (min-width: $tablet) {
		flex-direction: row;

		> * {
			flex: 1;
		}
	}
}
