.footer {
	background-color: $secondary-color-transparent;
	color: $dark-color;
	box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
		rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;

	font-size: 0.95em;

	display: flex;
	flex-direction: column;
	gap: 1em;
	font-size: 0.75em;

	text-align: center;

	h1 {
		color: $primary-color;
		margin: 0 0 0.5em 0;
	}

	p a {
		color: $primary-color;
	}

	a,
	a h1 {
		&:hover {
			color: $primary-color;
		}
	}

	@media (min-width: $tablet) {
		flex-direction: row;
		justify-content: space-evenly;
		margin: 1em;
		background-color: $light-color;

		h1 {
			color: $dark-color-transparent;
		}
	}
}

.footer-icon {
	color: $primary-color;
	font-size: 0.8em;
}
