.footer {
	background-color: $dark-color-transparent;

	font-size: 0.75em;
	text-align: center;

	h1 {
		font-size: 1.5em;
	}

	h1,
	p {
		color: $background-color;
	}

	a,
	span {
		color: $secondary-color-transparent;
	}

	@media (min-width: $tablet) {
		flex-direction: row;
		justify-content: space-evenly;
		background-color: $light-color;
		border-radius: $radius;
		box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
			rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
		h1,
		p {
			color: $dark-color-transparent;
		}

		a,
		span {
			color: $secondary-color;
		}

		a,
		a h1 {
			&:hover {
				color: $secondary-color;
			}
		}
	}
}

.footer-icon {
	color: $primary-color;
	font-size: 0.8em;
}

.powered {
	font-size: 0.6em;

	text-align: center;
	margin: 0;
	background-color: $dark-color-transparent;
	color: $dark-color;
	@media (min-width: $tablet) {
		background-color: transparent;
		color: $dark-color-transparent;
		margin-top: 1em;
	}
}
