.header {
	&-mobile {
		padding: 0 1em;
		max-height: 20vh;
		gap: 2em;

		display: flex;
		justify-content: space-between;
		align-items: center;

		background-color: $primary-color;
		box-shadow: 0px 0px 10px $primary-color;

		.logo {
			height: 10vh;
			width: 30vh;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url('../public/images/logo/farmacia-patuleia-high-resolution-logo-white-on-transparent-background.png');

			@media (min-width: $tablet) {
				width: 20vh;
				margin-left: 2em;
				background-image: url('../public/images/logo/farmacia-patuleia-high-resolution-logo-color-on-transparent-background.png');
			}

			@media (min-width: $laptop) {
				height: 10vh;
				width: 30vh;
			}
		}

		.hamburguer {
			color: $light-color;
			cursor: pointer;

			@media (min-width: $tablet) {
				display: none;
			}
		}
		@media (min-width: $tablet) {
			// logo
			background-color: $light-color;
			box-shadow: none;
			padding: 0;
		}
	}
	@media (min-width: $tablet) {
		padding: 1em;
		display: flex;
		justify-content: space-between;
	}
}

.nav {
	// navlinks
	display: flex;
	flex-direction: column;
	background-color: $secondary-color;
	@media (min-width: $tablet) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 1em;

		background-color: transparent;
		padding: 2em;

		font-size: 0.9em;
		.active {
			color: $primary-color;
		}
	}
	@media (min-width: $laptop) {
		font-size: 1em;
	}

	a {
		padding: 0.5em;
		color: $light-color;

		&:hover {
			background-color: $primary-color-transparent;
		}

		@media (min-width: $tablet) {
			color: $dark-color-transparent;

			&:hover {
				background-color: transparent;
			}
		}
	}
}
