.container-header {
	position: sticky;
	top: 0;

	@media (min-width: $tablet) {
		margin: 1em;
		border-radius: $radius;
		background-color: $light-color;
		box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
			rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;

		font-size: 0.95em;
	}

	@media (min-width: $laptop) {
		position: static;
	}
}

.header {
	@media (min-width: $tablet) {
		padding: 1em;
		display: flex;
		justify-content: space-between;
	}

	&-mobile {
		padding: 0 1em;
		gap: 2em;
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		background-color: $primary-color;
		box-shadow: 0px 0px 10px $primary-color;

		@media (min-width: $tablet) {
			// logo
			padding: 0;
			background-color: $light-color;
			box-shadow: none;
		}

		.logo {
			height: 60px;
			width: 250px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url('../images/logo/farmacia-patuleia-high-resolution-logo-white-on-transparent-background.png');

			@media (min-width: $tablet) {
				background-image: url('../images/logo/farmacia-patuleia-high-resolution-logo-color-on-transparent-background.png');
			}

			@media (min-width: $laptop) {
				margin-left: 2em;
			}
		}

		.hamburger {
			color: $light-color;

			@media (min-width: $tablet) {
				display: none;
			}
		}
	}
}

.nav {
	// navlinks
	display: flex;
	flex-direction: column;
	background-color: $secondary-color;
	font-family: $font-highlights;

	@media (min-width: $tablet) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 1em;

		background-color: transparent;
		padding: 1em;

		font-size: 0.9em;
	}
	@media (min-width: $laptop) {
		padding: 2em;
		font-size: 1em;
	}

	a {
		color: $light-color;

		padding: 0.3em 0.5em;

		&:hover {
			background-color: $accent-color;
		}

		@media (min-width: $tablet) {
			color: $dark-color-transparent;
			padding: 0.4em 0.2em;
			border-bottom: 2px solid transparent;
			transform: translateY(2px);

			&:hover {
				background-color: transparent;
				border-bottom: 2px solid $primary-color;
			}
			&.active {
				border-bottom: 2px solid $primary-color;
			}
		}

		@media (min-width: $laptop) {
			margin: 0 1em;
			border-bottom: 3px solid transparent;
			transform: translateY(3px);
			font-weight: bold;

			&:hover {
				background-color: transparent;
				border-bottom: 3px solid $primary-color;
			}
			&.active {
				border-bottom: 3px solid $primary-color;
			}
		}
	}
}
