.mapa {
	h2 {
		color: $secondary-color;

		font-size: 1.5em;
		margin: 0.5em;
	}
	p {
		text-indent: 1em;
		line-height: 1.5em;
		text-align: justify;
	}
}

.accordion {
	--bs-accordion-btn-focus-box-shadow: transparent;
	--bs-accordion-active-bg: transparent;
    text-align: justify;

	.accordion-button {
		padding: 0;
	}
}
