.mapa {
	h2 {
		color: $secondary-color;

		font-size: 1.5em;
		margin: 0.5em;
	}
	p {
		text-align: justify;
	}

	.mapa-description {
		@media (min-width: $tablet) {
			display: flex;
			gap: 2em;

			article {
				flex: 2;
			}

			.call-btn {
				width: 100%;
			}
		}
	}
}

.accordion {
	--bs-accordion-btn-focus-box-shadow: transparent;
	--bs-accordion-active-bg: transparent;
	text-align: justify;

	.accordion-button {
		padding: 0;
	}
}

.appointment {
	p {
		text-align: center;
	}
}
