.static-map {
	height: 250px;
	img {
		height: 100%;
	}
}

.open-home-grid {
	@media (min-width: $laptop) {
		.static-map {
			height: 236px;
		}
	}
}

.closed-home-grid {
	@media (min-width: $laptop) {
		.static-map {
			height: 300px;
		}
	}
}
