.open-grid {
	@media (min-width: $tablet) {
		display: grid;
		grid-template-columns: 1fr 1fr 2fr;
		justify-items: stretch;
		grid-gap: 1em;

		.span-2r {
			grid-row: span 2;
		}

		.span-2c {
			grid-column: span 2;
		}
	}
}

.banner-open {
	overflow: hidden;
	background: linear-gradient(
		45deg,
		$primary-color,
		$secondary-color,
		$accent-color
	);
	background-size: 200% 200%;
	animation: gradientAnimation 10s ease infinite;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 1em;

	> * {
		color: $light-color;
	}
}
