.card-sales {
	margin: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
    cursor: pointer;

	gap: 2em;

	img {
		object-fit: contain;
		height: 100%;
		width: auto;
		border-radius: $radius;
	}

	.description {
		display: none;

	}

	@media (min-width: $smartphone-landscape) {
		justify-content: space-between;

        .description {
 
		@media (min-width: $smartphone-landscape) {
			display: block;
		}           
        }
	}
}

.row {
    flex-direction: row;
}
.row-reverse {
	flex-direction: row-reverse;
}
