.service-card {
	text-align: left;

	img {
		height: 150px;
	}
	h2 {
		color: $secondary-color;
	}
	.flex-col {
		gap: 0.5em;
	}

	@media (min-width: $tablet) {
		flex-direction: row;
		gap: 1em;
		align-items: center;

		img {
			height: 100%;
			width: 250px;
		}
		.flex-col {
			gap: 1em;
		}
	}
}
