//colors
$background-color: snow;
$primary-color: rgb(34, 139, 34);
$primary-color-transparent: rgba(34, 139, 34, 0.8);
$secondary-color: rgb(138, 190, 83);
$secondary-color-transparent: rgb(138, 190, 83, 0.85);
$dark-color: rgb(51, 51, 51);
$dark-color-transparent: rgb(51, 51, 51, 0.8);
$light-color: rgb(255, 255, 255);
$light-color-transparent: rgba(255, 255, 255, 0.7);
$accent-color: rgb(154, 205, 50);

//font
$font-stack: 'Asap', sans-serif;
$font-highlights: 'Raleway', sans-serif;

//style
$radius: 4px;

// breakpoints
$smartphone: 320px;
$smartphone-landscape: 480px;
$tablet: 768px;
$laptop: 992px;
