//colors
$background-color: rgb(239, 239, 239);
$primary-color: rgb(7, 99, 36);
$primary-color-transparent: rgba(7, 99, 36, 0.8);
$secondary-color: rgb(121, 193, 66);
$secondary-color-transparent: rgb(121, 193, 66, 0.85);
$dark-color: rgb(56, 56, 56);
$dark-color-transparent: rgb(56, 56, 56, 0.8);
$light-color: rgb(255, 255, 255);
$light-color-transparent: rgba(255, 255, 255, 0.7);
$accent-color: #9acd32;

//font
$font-stack: 'Asap', sans-serif;
$font-highlights: 'Raleway', sans-serif;

//style
$radius: 4px;

// breakpoints
$smartphone: 320px;
$smartphone-landscape: 480px;
$tablet: 768px;
$laptop: 992px;
